body {
  font-family: "Wingdings 3";
}
html {
  font-family: "Wingdings 3";
}
.interface_menu {
  font-family: "Wingdings 3";
}
span {
  font-family: "Wingdings 3";
}
a {
  font-family: "Wingdings 3";
}
button {
  font-family: "Wingdings 3";
}
p {
  font-family: "Wingdings 3";
}
text {
  font-family: "Wingdings 3";
}
.blocklyText {
  font-family: "Wingdings 3";
}
h1 {
  font-family: "Wingdings 3";
}
h2 {
  font-family: "Wingdings 3";
}
h3 {
  font-family: "Wingdings 3";
}
h4 {
  font-family: "Wingdings 3";
}
h5 {
  font-family: "Wingdings 3";
}
div {
  font-family: "Wingdings 3";
}
